:root {
    /* color */
    --madColorPalette01 : #ffffff;
    --madColorPalette02 : #000000;
    --madColorPalette03 : #CDCAC6;
    --madColorPalette04 : #EAD8C0;
    --madColorPalette05 : #AD8350;
    --madColorPalette06 : #A3171B;
    --madColorPalette06sub : #e7898c;
    --madColorPalette07 : transparent;
}

@media all and (min-width:1024px) {
    /* brandvideo 영역 */
    #brandVideo {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    #brandVideo iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 56.25vw;
        /* height: 100vh; */
        transform: translate(-50%, -50%);
        border: none;
        overflow: hidden;
        object-fit: cover;
    }
    /* /brandvideo 영역 */

    /* brandnews 영역 */

    #brandNews {
        /* background-color: var(--madColorPalette06); */
        width: 100%;
        height: 50vh;
        text-align: center;
        padding: 40px;
        box-sizing: border-box;
        color: var(--madColorPalette01);
        line-height: 30px;

        background: url(./../img/section/brandNewsImg03.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .brandNewsDetail {
        width: 100%;
        height: 185px;
        background-color: var(--madColorPalette01);
        padding-left: 2rem;
        box-sizing: border-box;
        transform: translateY(50%);
        overflow: hidden;
    }

    .brandNewsDetail li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .brandNewsDetail a {
        color: var(--madColorPalette02);
        display: block;
        font-size: 2em;
        color: var(--madColorPalette06);
    }

    .brandNewsDetail img {
        width: 20em;
    }

    /* /brandnews 영역 */

    /* brandconcept 영역 */

    #brandConcept {
        width: 100%;
        padding: 5em;
    }

    .concept {
        width: 80%;
        margin-bottom: 5em;
        margin: 0px auto;
    }

    .concept ul {
        display: flex;
        justify-content: center;
        gap: 5em;
    }

    .concept img {
        width: 55em;
        height: 20em;
        object-fit: cover;
    }

    .concept .imgRight {
        position: relative;
    }

    .concept .imgRight h3 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--madColorPalette06);
        font-size: 3em;
    }

    .concept .imgRight img {
        border-radius: 30em 1em 1em 1em;
    }

    .concept .imgLeft {
        position: relative;
    }

    .concept .imgLeft h3 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--madColorPalette06);
        font-size: 3em;
    }

    .concept .imgLeft img {
        border-radius: 1em 30em 1em 1em;
    }

    .concept .conceptTXT {
        font-size: 1.3rem;
        padding: 6em 0px;
        box-sizing: border-box;
    }


    /* /brandconcept 영역 */

}

@media all and (min-width:768px) {

}

@media all and (min-width:480px) {

}

@media all and (max-width:479px) {

}