:root {
    /* color */
    --madColorPalette01 : #ffffff;
    --madColorPalette02 : #000000;
    --madColorPalette03 : #CDCAC6;
    --madColorPalette04 : #EAD8C0;
    --madColorPalette05 : #AD8350;
    --madColorPalette06 : #A3171B;
    --madColorPalette06sub : #e7898c;
    --madColorPalette07 : transparent;
}

@media all and (min-width:1024px) {
    #main {
        width: 100%;
      }
          
      /* eventMainBanner 영역 */
    
      #eventMainBanner {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
      }
    
      #eventMainBanner .eventBan {
        width: 100%;
        height: 100%;
        background: url(./../img/section/eventmainbanner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        position: absolute;
        top: 0px;
        left: 0px;
    
        animation: movescl 4s forwards;
      }
    
      @keyframes movescl {
        0% {
          opacity: 0;
          transform: scale(2);
        };
    
        100% {
          opacity: 1;
          transform: scale(1);
        };
      }
    
      #eventMainBanner .eventTXT {
          position: absolute;
          left: 50%;
          top: 50%;
    
          transform: translate(-50%, -50%);
      }
    
      #eventMainBanner .eventTXT h3 {
          font-size: 5em;
          text-align: center;
          letter-spacing: 1rem;
          color: var(--madColorPalette06);
    
          animation: moveToLeft 2s forwards;
      }
    
      #eventMainBanner .eventTXT p {
          font-size: 1.3em;
          text-align: center;
          background-color: var(--madColorPalette03);
          color: var(--madColorPalette02);
          padding: 0.2em 0.5em;
          box-sizing: border-box;
    
          animation: moveToRight 2s forwards;
      }
    
      @keyframes moveToLeft {
          0% {
            opacity: 0;
            transform: translateX(-500px);
          };
    
          100% {
            opacity: 1;
            transform: translateX(0);
          };
        }
    
      @keyframes moveToRight {
        0% {
          opacity: 0;
          transform: translateX(500px);
        };
    
        100% {
          opacity: 1;
          transform: translateX(0);
        };
      }
    
      /* /eventMainBanner 영역 */
      
      /* eventDateil 영역 */

    #main {
        width: 100%;
        overflow: hidden;

        position: relative;
    }
        
    .eventDateil {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        padding: 3em;
        box-sizing: border-box;
    }
    
    .eventDateil ol {
        display: flex;
        gap: 40px; 
        transition: transform 2s ease-in-out; 
    }
    
    .eventDateil li {
        flex-shrink: 0; 
        position: relative;
    }
    
    .eventDateil li img {
        width: 40em;
        object-fit: cover;
    }

    .eventDateil .eveTXT {
        position: relative;
    }

    .eventDateil .eveTXT li img:hover {
        opacity: 0.5;
    }

    /* /eventDateil 영역 */
      
}

@media all and (min-width:768px) and (max-width:1023px) {

}

@media all and (min-width:480px) and (max-width:767px) {

}

@media all and (max-width:479px) {
    
}