:root {
    /* color */
    --madColorPalette01 : #ffffff;
    --madColorPalette02 : #000000;
    --madColorPalette03 : #CDCAC6;
    --madColorPalette04 : #EAD8C0;
    --madColorPalette05 : #AD8350;
    --madColorPalette06 : #A3171B;
    --madColorPalette06sub : #e7898c;
    --madColorPalette07 : transparent;

    /* size */
}

@media all and (min-width:1024px) {
    /* header */
    header {
        /* background-color: var(--madColor05); */
        width: 100%;
        height: 65px;
        display: flex;
        position: fixed;
        padding: 1.5em;
        overflow: hidden;
        z-index: 100;
    }

    header img {
        width: 4.5em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    header .sublogo {
        opacity: 0;
    }

    header .headerMenu {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    header .headerMenu .rsvt {
        background-color: var(--madColorPalette06);
        border-radius: 20px;
        color: var(--madColorPalette01);
        padding: 1rem;
    }

    header .headerMenu a {
        padding: 0.8rem;
        box-sizing: border-box;
    }

    header .headerMenu li a:hover {
        color: var(--madColorPalette06);
    }

    header .headerMenu li .rsvt:hover {
        color: var(--madColorPalette05);
    }

    header .userJoin {
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
    }

    /* header hover */

    header:hover {
        background-color: var(--madColorPalette02);
    }

    header:hover .mainlogo {
        opacity: 0;
    }

    header:hover .sublogo {
        opacity: 1;
    }

    header:hover .headerMenu {
        color: var(--madColorPalette01);
    }

    header:hover .mainUser {
        display: none;
    }

    header:hover .subUser {
        display: block;
        color: var(--madColorPalette01);
    }
    
    /* /header hover */

    /* pc hide */
    .menuBar {
        display: none;
    }

    .subBack {
        display: none;
    }

    .subUser {
        display: none;
    }
    
    /* /pc hide */

    /* scroll 영역 */

    header.on {
        background-color: var(--madColorPalette02);
    }

    header.on .mainlogo {
        opacity: 0;
    }

    header.on .sublogo {
        opacity: 1;
    }

    header.on .headerMenu {
        color: var(--madColorPalette01);
    }

    header.on .mainUser {
        display: none;
    }

    header.on .subUser {
        display: block;
        color: var(--madColorPalette01);
    }

    /* /scroll 영역 */

    /* /header 영역 */

    /* footer 영역 */
    footer {
        width: 100%;
        height: 35vh;
        padding: 3em;
        box-sizing: border-box;
        background-color: var(--madColorPalette02);
        overflow: hidden;
    }

    .topBtn {
        position: fixed;
        right: 50px;
        bottom: 50px;
        opacity: 0;
        z-index: 50;
        font-size: 1.8rem;
    }

    .ftTopbtn {
        opacity: 1;
        transition: opacity 0.8s ease;
    }

    .topBtn a {
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: var(--madColorPalette07);
        border: 1px solid var(--madColorPalette06);
        color: var(--madColorPalette06);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer .ftdetail {
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 0px auto;
        color: var(--madColorPalette01);
    }

    footer .ftdetail span {
        display: inline-block;
        margin: 0px 1rem;
    }

    footer .ftdetail > li {
        width: 50%;
        margin: 0px auto;
    }

    .ftdetailLeft p {
        margin-bottom: 1.8rem;
    }

    .ftdetailRight .ftsns {
        display: flex;
        justify-content: center;
        font-size: 3rem;
        text-align: center;
    }

    .ftdetailRight .ftsns li {
        margin: 0px auto;
    }

    .ftdetailRight .ftStore {
        margin: 2rem 0px 0px 5rem;
    }

    .ftdetailRight .ftStore {
        display: block;
        align-items: center;
    }

    .ftdetailRight .ftStore li {
        width: 100%;
        font-size: 1.8rem;
        padding: 1rem 2rem;
        box-sizing: border-box;
    }

    /* /footer 영역 */
}

@media all and (min-width:768px) and (max-width:1023px) {
     /* header */
    
     header {
        /* background-color: var(--madColor05); */
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        padding: 1.5em;
        overflow: hidden;
        z-index: 150;
    }

    header img {
        width: 4.5em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    header .sublogo {
        opacity: 0;
    }

    header .headerMenu {
        display: none;
    }

    header .userJoin {
        position: absolute;
        right: 6%;
        top: 50%;
        transform: translateY(-50%);
    }

    /* header hover */

    header:hover {
        background-color: var(--madColorPalette02);
    }

    header:hover .mainlogo {
        opacity: 0;
    }

    header:hover .sublogo {
        opacity: 1;
    }

    header:hover .headerMenu {
        color: var(--madColorPalette01);
    }

    header:hover .mainUser {
        display: none;
    }

    header:hover .subUser {
        display: block;
        color: var(--madColorPalette01);
    }

    header:hover .bar01 {
        background-color: var(--madColorPalette01);
    }
    
    header:hover .bar02 {
        background-color: var(--madColorPalette01);
    }
    
    header:hover .bar03 {
        background-color: var(--madColorPalette01);
    }
    
    /* /header hover */

    /* hide */

    .subUser {
        display: none;
    }
    /* hide */

    /* scroll 영역 */

    header.on {
        background-color: var(--madColorPalette02);
    }

    header.on .mainlogo {
        opacity: 0;
    }

    header.on .sublogo {
        opacity: 1;
    }

    header.on .headerMenu {
        color: var(--madColorPalette01);
    }

    header.on .mainUser {
        display: none;
    }

    header.on .subUser {
        display: block;
        color: var(--madColorPalette01);
    }

    header.on .bar01 {
        background-color: var(--madColorPalette01);
    }
    
    header.on .bar02 {
        background-color: var(--madColorPalette01);
    }
    
    header.on .bar03 {
        background-color: var(--madColorPalette01);
    }

    /* submenu */
    .subBack {
        width: 100%;
        height: 100vh;
        background-color: var(--madColorPalette06sub);
        position: fixed;
        top: 0%;
        left: 0%;
        display: none;
        z-index: 130;
    }

    .subMenu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav .subMenu a {
        display: block;
        color: var(--madColorPalette06);
        font-size: 2em;
        padding: 0px 3em;
        margin-bottom: 2rem;
    }

    nav .subMenu a:hover {
        color: var(--madColorPalette06);
    }

    .viewControl {
        display: block;
        transition: 1s;
    }
    /* /submenu */

    /* /scroll 영역 */

    /* menuBar 서브메뉴 bar */

    .menuBar {
        /* background-color: #eaf; */
        width: 30px;
        height: 23px;
        position: relative;
        top: 0px;
        cursor: pointer;
        z-index: 120;
    }

    .bar01 {
        width: 30px;
        height: 2px;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: var(--madColorPalette02);
    }
    
    .bar02 {
        width: 20px;
        height: 2px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--madColorPalette02);
    }
    
    .bar03 {
        width: 30px;
        height: 2px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: var(--madColorPalette02);
    }
    
    .active .bar01 {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: 0.5s;
        color: var(--madColorPalette01);
    }
    
    .active .bar02 {
        display: none;
        color: var(--madColorPalette01);
    }
    
    .active .bar03 {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: 0.5s;
        color: var(--madColorPalette01);
    }

    /* /header 영역 */

    /* footer 영역 */
    footer {
        width: 100%;
        height: 40vh;
        padding: 2em;
        box-sizing: border-box;
        background-color: var(--madColorPalette02);
        overflow: hidden;
    }

    .topBtn {
        position: fixed;
        right: 50px;
        bottom: 50px;
        opacity: 0;
        z-index: 50;
        font-size: 1.8rem;
    }

    .ftTopbtn {
        opacity: 1;
        transition: opacity 0.8s ease;
    }

    .topBtn a {
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: var(--madColorPalette07);
        border: 1px solid var(--madColorPalette06);
        color: var(--madColorPalette06);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer .ftdetail {
        width: 100%;
        justify-content: center;
        margin: 0px auto;
        color: var(--madColorPalette01);
    }

    footer .ftdetailLeft p {
        margin-bottom: 1rem;
    }

    footer .ftdetailRight .ftsns {
        display: flex;
        gap: 40px;
        margin-bottom: 1rem;
    }

    footer .ftdetailRight .ftsns li {
        font-size: 2rem;
    }

    footer .ftdetailRight .ftStore {
        display: flex;
        gap: 30px;
    }

    footer .ftdetailRight .ftStore li {
        margin-bottom: 1rem;
        background-color: var(--madColorPalette01);
        color: var(--madColorPalette02);
        width: 30%;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 10px;
    }

    /* /footer 영역 */
}

@media all and (min-width:480px) and (max-width:767px) {

    /* header */
    
    header {
        /* background-color: var(--madColor05); */
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        padding: 1.5em;
        overflow: hidden;
        z-index: 150;
    }

    header img {
        width: 4.5em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    header .sublogo {
        opacity: 0;
    }

    header .headerMenu {
        display: none;
    }

    header .userJoin {
        position: absolute;
        right: 14%;
        top: 50%;
        transform: translateY(-50%);
    }

    /* header hover */

    header:hover {
        background-color: var(--madColorPalette02);
    }

    header:hover .mainlogo {
        opacity: 0;
    }

    header:hover .sublogo {
        opacity: 1;
    }

    header:hover .headerMenu {
        color: var(--madColorPalette01);
    }

    header:hover .mainUser {
        display: none;
    }

    header:hover .subUser {
        display: block;
        color: var(--madColorPalette01);
    }

    header:hover .bar01 {
        background-color: var(--madColorPalette01);
    }
    
    header:hover .bar02 {
        background-color: var(--madColorPalette01);
    }
    
    header:hover .bar03 {
        background-color: var(--madColorPalette01);
    }
    
    /* /header hover */

    /* hide */

    .subUser {
        display: none;
    }
    /* hide */

    /* scroll 영역 */

    header.on {
        background-color: var(--madColorPalette02);
    }

    header.on .mainlogo {
        opacity: 0;
    }

    header.on .sublogo {
        opacity: 1;
    }

    header.on .headerMenu {
        color: var(--madColorPalette01);
    }

    header.on .mainUser {
        display: none;
    }

    header.on .subUser {
        display: block;
        color: var(--madColorPalette01);
    }

    header.on .bar01 {
        background-color: var(--madColorPalette01);
    }
    
    header.on .bar02 {
        background-color: var(--madColorPalette01);
    }
    
    header.on .bar03 {
        background-color: var(--madColorPalette01);
    }

    /* submenu */
    .subBack {
        width: 100%;
        height: 100vh;
        background-color: var(--madColorPalette06sub);
        position: fixed;
        top: 0%;
        left: 0%;
        display: none;
    }

    .subMenu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav .subMenu a {
        display: block;
        color: var(--madColorPalette06);
        font-size: 2em;
        padding: 0px 3em;
        margin-bottom: 2rem;
    }

    nav .subMenu a:hover {
        color: var(--madColorPalette06);
    }

    .viewControl {
        display: block;
    }
    /* /submenu */

    /* /scroll 영역 */

    /* menuBar 서브메뉴 bar */

    .menuBar {
        /* background-color: #eaf; */
        width: 30px;
        height: 23px;
        position: relative;
        top: 0px;
        cursor: pointer;
        z-index: 100;
    }

    .bar01 {
        width: 30px;
        height: 2px;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: var(--madColorPalette02);
    }
    
    .bar02 {
        width: 20px;
        height: 2px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--madColorPalette02);
    }
    
    .bar03 {
        width: 30px;
        height: 2px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: var(--madColorPalette02);
    }
    
    .active .bar01 {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: 0.5s;
        color: var(--madColorPalette01);
    }
    
    .active .bar02 {
        display: none;
        color: var(--madColorPalette01);
    }
    
    .active .bar03 {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: 0.5s;
        color: var(--madColorPalette01);
    }

    /* /header 영역 */

    /* footer 영역 */
    footer {
        width: 100%;
        height: 40vh;
        padding: 2em;
        box-sizing: border-box;
        background-color: var(--madColorPalette02);
        overflow: hidden;
    }

    .topBtn {
        position: fixed;
        right: 50px;
        bottom: 50px;
        opacity: 0;
        z-index: 50;
        font-size: 1.8rem;
    }

    .ftTopbtn {
        opacity: 1;
        transition: opacity 0.8s ease;
    }

    .topBtn a {
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: var(--madColorPalette07);
        border: 1px solid var(--madColorPalette06);
        color: var(--madColorPalette06);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer .ftdetail {
        width: 100%;
        justify-content: center;
        margin: 0px auto;
        color: var(--madColorPalette01);
    }

    footer .ftdetailLeft p {
        margin-bottom: 1rem;
    }

    footer .ftdetailRight .ftsns {
        display: flex;
        gap: 20px;
        margin-bottom: 1rem;
    }

    footer .ftdetailRight .ftStore {
        display: flex;
        gap: 20px;
    }

    footer .ftdetailRight .ftStore li {
        margin-bottom: 1rem;
        background-color: var(--madColorPalette01);
        color: var(--madColorPalette02);
        width: 30%;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 10px;
    }

    /* /footer 영역 */
}

@media all and (max-width:479px) {
    /* header */
    
    header {
        /* background-color: var(--madColor05); */
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        padding: 1.5em;
        overflow: hidden;
        z-index: 150;
    }

    header img {
        width: 4.5em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    header .sublogo {
        opacity: 0;
    }

    header .headerMenu {
        display: none;
    }

    header .userJoin {
        position: absolute;
        right: 18%;
        top: 50%;
        transform: translateY(-50%);
    }

    /* header hover */

    header:hover {
        background-color: var(--madColorPalette02);
    }

    header:hover .mainlogo {
        opacity: 0;
    }

    header:hover .sublogo {
        opacity: 1;
    }

    header:hover .headerMenu {
        color: var(--madColorPalette01);
    }

    header:hover .mainUser {
        display: none;
    }

    header:hover .subUser {
        display: block;
        color: var(--madColorPalette01);
    }

    header:hover .bar01 {
        background-color: var(--madColorPalette01);
    }
    
    header:hover .bar02 {
        background-color: var(--madColorPalette01);
    }
    
    header:hover .bar03 {
        background-color: var(--madColorPalette01);
    }
    
    /* /header hover */

    /* hide */

    .subUser {
        display: none;
    }
    /* hide */

    /* scroll 영역 */

    header.on {
        background-color: var(--madColorPalette02);
    }

    header.on .mainlogo {
        opacity: 0;
    }

    header.on .sublogo {
        opacity: 1;
    }

    header.on .headerMenu {
        color: var(--madColorPalette01);
    }

    header.on .mainUser {
        display: none;
    }

    header.on .subUser {
        display: block;
        color: var(--madColorPalette01);
    }

    header.on .bar01 {
        background-color: var(--madColorPalette01);
    }
    
    header.on .bar02 {
        background-color: var(--madColorPalette01);
    }
    
    header.on .bar03 {
        background-color: var(--madColorPalette01);
    }

    /* submenu */
    .subBack {
        width: 100%;
        height: 100vh;
        background-color: var(--madColorPalette06sub);
        position: fixed;
        top: 0%;
        left: 0%;
        display: none;
    }

    .subMenu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav .subMenu a {
        display: block;
        color: var(--madColorPalette06);
        font-size: 2em;
        padding: 0px 3em;
        margin-bottom: 2rem;
    }

    nav .subMenu a:hover {
        color: var(--madColorPalette06);
    }

    .viewControl {
        display: block;
        transition: 1s;
    }
    /* /submenu */

    /* /scroll 영역 */

    /* menuBar 서브메뉴 bar */

    .menuBar {
        /* background-color: #eaf; */
        width: 30px;
        height: 23px;
        position: relative;
        top: 5px;
        cursor: pointer;
        z-index: 100;
    }

    .bar01 {
        width: 30px;
        height: 2px;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: var(--madColorPalette02);
    }
    
    .bar02 {
        width: 20px;
        height: 2px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--madColorPalette02);
    }
    
    .bar03 {
        width: 30px;
        height: 2px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: var(--madColorPalette02);
    }
    
    .active .bar01 {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: 0.5s;
        color: var(--madColorPalette01);
    }
    
    .active .bar02 {
        display: none;
        color: var(--madColorPalette01);
    }
    
    .active .bar03 {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: 0.5s;
        color: var(--madColorPalette01);
    }

    /* /header 영역 */

    /* footer 영역 */
    footer {
        width: 100%;
        height: 50vh;
        padding: 1.5rem;
        box-sizing: border-box;
        background-color: var(--madColorPalette02);
        overflow: hidden;
    }

    .topBtn {
        position: fixed;
        right: 50px;
        bottom: 50px;
        opacity: 0;
        z-index: 50;
        font-size: 1.8rem;
    }

    .ftTopbtn {
        opacity: 1;
        transition: opacity 0.8s ease;
    }

    .topBtn a {
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: var(--madColorPalette07);
        border: 1px solid var(--madColorPalette06);
        color: var(--madColorPalette06);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer .ftdetail {
        width: 100%;
        justify-content: center;
        margin: 0px auto;
        color: var(--madColorPalette01);
    }

    footer .ftdetailLeft p {
        margin-bottom: 1rem;
    }

    footer .ftdetailRight .ftsns {
        display: flex;
        gap: 20px;
        margin-bottom: 1rem;
    }

    footer .ftdetailRight .ftStore {
        display: flex;
        gap: 20px;
    }

    footer .ftdetailRight .ftStore li {
        margin-bottom: 1rem;
        background-color: var(--madColorPalette01);
        color: var(--madColorPalette02);
        width: 50%;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 10px;
        text-align: center;
    }

    /* /footer 영역 */
}