:root {
    /* color */
    --madColorPalette01 : #ffffff;
    --madColorPalette02 : #000000;
    --madColorPalette03 : #CDCAC6;
    --madColorPalette04 : #EAD8C0;
    --madColorPalette05 : #AD8350;
    --madColorPalette06 : #A3171B;
    --madColorPalette06sub : #e7898c;
    --madColorPalette07 : transparent;
}

@media all and (min-width:1024px) {

    /* membershipBanner 영역 */

    #membershipBanner {
        width: 100vw;
        height: 50vh;
        overflow: hidden;
        position: relative;
    }

    #membershipBanner .memBanner {
        width: 100%;
        height: 100%;
        background: url(./../img/section/membership_banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        position: absolute;
        top: 0px;
        left: 0px;

        animation: movescl 4s forwards;
    }

    @keyframes movescl {
      0% {
        opacity: 0;
        transform: scale(2);
      };

      100% {
        opacity: 1;
        transform: scale(1);
      };
    }

    #membershipBanner .memTXT {
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
    }

    #membershipBanner .memTXT h3 {
        font-size: 5em;
        text-align: center;
        letter-spacing: 1rem;
        color: var(--madColorPalette01);

        animation: moveToLeft 2s forwards;

        /* opacity: 0; */
    }

    #membershipBanner .memTXT p {
        font-size: 1.3em;
        text-align: center;
        background-color: var(--madColorPalette03);
        color: var(--madColorPalette06);

        animation: moveToRight 2s forwards;

        /* opacity: 0; */
    }

    @keyframes moveToLeft {
        0% {
          opacity: 0;
          transform: translateX(-500px);
        };

        100% {
          opacity: 1;
          transform: translateX(0);
        };
      }

    @keyframes moveToRight {
      0% {
        opacity: 0;
        transform: translateX(500px);
      };

      100% {
        opacity: 1;
        transform: translateX(0);
      };
    }

      /* /membershipBanner 영역 */

      /* membershipContent 영역 */

      .memsection{
        width: 100vw;
        height: 400vh;
        display: flex;

        position: relative;
      }

      .sticky{
        position: sticky;
        width: 50vw;
        height: 100vh;
        top: 0;
        left: 0;
      }

      .img{
        position: absolute;
        width: 50vw;
        height: 100vh;
        top: 0;
        left: 0;
        align-content: center;
        text-align: center;
        font-size: 60px;
        opacity: 0;
        transition: all 0.3s;
      }

      .img:nth-child(1){
        background-color: aqua;
      }

      .img:nth-child(2){
        background-color: red;
      }

      .img:nth-child(3){
        background-color: yellow;
      }

      .img:nth-child(4){
        background-color: green;
      }

      .content-box{
        width: 50vw;
        height: 100vh;
      }

      .content{
        width: 50vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
      }

      .opacity1{
        opacity: 1;
      }
      
      /* /membershipContent 영역 */

}

@media all and (min-width:768px) and (max-width:1023px) {

}

@media all and (min-width:480px) and (max-width:767px) {

}

@media all and (max-width:479px) {
    
}