:root {
    /* color */
    --madColorPalette01 : #ffffff;
    --madColorPalette02 : #000000;
    --madColorPalette03 : #CDCAC6;
    --madColorPalette04 : #EAD8C0;
    --madColorPalette05 : #AD8350;
    --madColorPalette06 : #A3171B;
    --madColorPalette06sub : #e7898c;
    --madColorPalette07 : transparent;
}

@media all and (min-width:1024px) {

    #main {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    /* menuMainBanner 영역 */

    #menuMainBanner {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    #menuMainBanner .menuBan {
        width: 100%;
        height: 100%;
        background: url(./../img/section/brandNewsImg01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        position: absolute;
        top: 0px;
        left: 0px;

        animation: movescl 4s forwards;
    }

    @keyframes movescl {
    0% {
        opacity: 0;
        transform: scale(2);
    };

    100% {
        opacity: 1;
        transform: scale(1);
    };
    }

    #menuMainBanner .menuTXT {
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
    }

    #menuMainBanner .menuTXT h3 {
        font-size: 5em;
        text-align: center;
        letter-spacing: 1rem;
        color: var(--madColorPalette06);

        animation: moveToLeft 2s forwards;
    }

    #menuMainBanner .menuTXT p {
        font-size: 1.3em;
        text-align: center;
        background-color: var(--madColorPalette03);
        color: var(--madColorPalette02);
        padding: 0.2em 0.5em;
        box-sizing: border-box;

        animation: moveToRight 2s forwards;
    }

    @keyframes moveToLeft {
        0% {
        opacity: 0;
        transform: translateX(-500px);
        };

        100% {
        opacity: 1;
        transform: translateX(0);
        };
    }

    @keyframes moveToRight {
        0% {
            opacity: 0;
            transform: translateX(500px);
        };

        100% {
            opacity: 1;
            transform: translateX(0);
        };
    }
    
    /* /menuMainBanner 영역 */

    .mainMenuImg {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        margin-top: 2em;
        /* background-color: var(--madColorPalette04); */
    }

    .menuBanner {
        width: 100%;
        height: 100%;

        position: relative;
    }

    .menuBanner li {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        opacity: 0;
        transform: scale(1.2);
    }

    .menuBanner li.m_on {
        opacity: 1;
        transform: scale(1);
        transition: 1s;
    }

    .menuBanner li:nth-child(1) {
        background: url(./../img/section/menu/mainMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(2) {
        background: url(./../img/section/menu/setMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(3) {
        background: url(./../img/section/menu/dessertMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(4) {
        background: url(./../img/section/menu/wineMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li h3 {
        position: absolute;
        left: 40px;
        top: 45%;
        font-size: 5em;
        color: var(--madColorPalette05);
        transform: translateX(-150%);
        opacity: 0;
    }

    .menuBanner h3.menuTitle {
        transform: translateX(50%);
        opacity: 1;
        transition: 2s;
    }

    /* menu btn 영역 */

    .menuBtn {
        width: 100%;
        height: 30%;
        overflow: hidden;
    }

    .menuBtnDetail {
        width: 80%;
        /* background-color: var(--madColorPalette04); */
        margin: 30px auto;
        display: block;
        padding: 5em 0px;
    }

    .menuBtn ol {
        display: flex;
        justify-content: center;
    }

    .menuBtnDetail li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .menuBtnDetail li img {
        max-width: 30%;
    }
    
    .menuBtnDetail li a {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        font-size: 2em;
        display: block;
    }

    .menuBtnDetail li.m_btn {
        color: var(--madColorPalette06);
        transition: 1s;
        transform: rotateY(360deg);
    }

    /* /menu btn 영역 */

    /* submenu 영역 */

    .subMenu {
        width: 100%;
        height: 4200px;
        margin: 0px auto;
    }

    .subMenu.hei {
        height: 5000px;
    }

    .mainMenuList {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .mainMenuList > li {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        display: none;
    }

    .mainMenuList > li.s_on {
        display: block;
        transition: 1s;
    }

    /* pasta 영역 */

    .mainPasta {
        width: 100%;
        position: relative;
    }

    .mainPastaImg {
        width: 100%;
        height: 30vh;
        
        background: url(./../img/section/menu/mainmenu_pasta.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .mainPasta .mainPastaTxT {
        width: 50em;
        max-width: 50%;
        height: 20em;
        line-height: 1.5em;
        background-color: var(--madColorPalette02);
        color: var(--madColorPalette06);
        padding: 6em 5em;
        box-sizing: border-box;
        
        position: absolute;
        left: 5%;
        top: 40%;
    }

    .mainPasta .mainPastaTxT h3 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    /* menu 영역 */

    .pasat {
        width: 80%;
        padding: 15em 0px;
        box-sizing: border-box;
        margin: 0px auto;
    }

    .pastaSection {
        width: 100%;
    }

    .pasat .mainMenuPasta {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .pasat .mainMenuPasta img {
        width: 32em;
        height: 15em;
        object-fit: cover;
    }

    .pasat .subMenuPasta {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }

    .pasat .subMenuPasta li {
        width: 100%;
        height: 100%;
        background-color: var(--madColorPalette04);
        display: none;
        padding: 4em;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
    }

    .pasat .subMenuPasta li img {
        width: 60em;
        height: 40em;
        object-fit: cover;
        margin-bottom: 2em;
        border-radius: 20px;
    }

    .pasat .subMenuPasta li p {
        font-size: 1.5em;
        text-align: left;
        color: var(--madColorPalette06);
    }

    .pasat .subMenuPasta li span {
        display: none;
        text-align: right;
        margin-bottom: 1.2em;
    }

    .pasat .subMenuPasta li.origin {   
       display: block !important;
    }

    .chili {
        color: var(--madColorPalette06);
    }
    /* /menu 영역 */

    /* 스테이크 영역 */
    .mainSteak {
        width: 100%;
        position: relative;
    }

    .mainSteakImg {
        width: 100%;
        height: 30vh;
        
        background: url(./../img/section/menu/mainmenu_Steak.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .mainSteak .mainSteakTxT {
        width: 50em;
        max-width: 50%;
        height: 20em;
        line-height: 1.5em;
        background-color: var(--madColorPalette04);
        color: var(--madColorPalette06);
        padding: 6em 5em;
        box-sizing: border-box;
        
        position: absolute;
        left: 5%;
        top: 40%;
    }

    .mainSteak .mainSteakTxT h3 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    /* menu 영역 */

    .steak {
        width: 80%;
        padding: 15em 0px;
        box-sizing: border-box;
        margin: 0px auto;
    }

    .steakSection {
        width: 100%;
    }

    .steak .mainMenuSteak {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 6em;
    }
    .steak .mainMenuSteak img {
        width: 50em;
        /* width: 100%; */
        height: 20em;
        object-fit: cover;
    }

    .steak .subMenuSteak {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }

    .steak .subMenuSteak li {
        width: 100%;
        height: 100%;
        background-color: var(--madColorPalette04);
        display: none;
        padding: 4em;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
    }

    .steak .subMenuSteak li img {
        width: 60em;
        height: 40em;
        object-fit: cover;
        margin-bottom: 2em;
        border-radius: 20px;
    }

    .steak .subMenuSteak li p {
        font-size: 1.5em;
        text-align: left;
        color: var(--madColorPalette06);
    }

    .steak .subMenuSteak li span {
        display: block;
        text-align: right;
        margin-bottom: 1.2em;
    }

    .steak .subMenuSteak li.origin {
        display: block !important;
    }

    

    /* /menu 영역 */

    /* 피자 영역 */
    .mainPizza {
        width: 100%;
        position: relative;
    }

    .mainPizzaImg {
        width: 100%;
        height: 30vh;
        
        background: url(./../img/section/menu/mainmenu_pizza.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .mainPizza .mainPizzaTxT {
        width: 50em;
        max-width: 50%;
        height: 20em;
        line-height: 1.5em;
        background-color: var(--madColorPalette06sub);
        color: var(--madColorPalette06);
        padding: 4em 5em;
        box-sizing: border-box;
        
        position: absolute;
        left: 5%;
        top: 40%;
    }

    .mainPizza .mainPizzaTxT h3 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    /* menu 영역 */

    .pizza {
        width: 80%;
        padding: 15em 0px;
        box-sizing: border-box;
        margin: 0px auto;
    }

    .pizzaSection {
        width: 100%;
    }

    .pizza .mainMenuPizza {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 6em;
    }

    .pizza .mainMenuPizza li {
        width: 80%;
    }

    .pizza .mainMenuPizza img {
        width: 100%;
        height: 22em;
        object-fit: cover;
    }

    .pizza .subMenuPizza {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }

    .pizza .subMenuPizza li {
        width: 100%;
        height: 100%;
        background-color: var(--madColorPalette04);
        display: none;
        padding: 3em;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
    }

    .pizza .subMenuPizza li img {
        width: 60em;
        height: 40em;
        object-fit: cover;
        margin-bottom: 2em;
        border-radius: 20px;
    }

    .pizza .subMenuPizza li p {
        font-size: 1.5em;
        text-align: left;
        color: var(--madColorPalette06);
    }

    .pizza .subMenuPizza li span {
        display: block;
        text-align: right;
        margin-bottom: 1.2em;
    }

    .pizza .subMenuPizza li.origin {
        display: block !important;
    }
    /* /menu 영역 */

    /* 시그니처세트 영역 */
    .signatureSet {
        width: 100%;
        position: relative;
    }

    .signatureSetImg {
        width: 100%;
        height: 30vh;
        
        background: url(./../img/section/menu/signatureSet_Steak.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .signatureSet .signatureSetTxT {
        width: 50em;
        max-width: 50%;
        height: 20em;
        line-height: 1.5em;
        background-color: var(--madColorPalette05);
        color: var(--madColorPalette06);
        padding: 4em 5em;
        box-sizing: border-box;
        
        position: absolute;
        left: 5%;
        top: 40%;
    }

    .signatureSet .signatureSetTxT h3 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    /* menu 영역 */

    .signature {
        width: 80%;
        padding: 15em 0px;
        box-sizing: border-box;
        margin: 0px auto;
    }

    .signatureSection {
        width: 100%;
    }

    .signature .signatureSetMenu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 6em;
    }

    .signature .signatureSetMenu li {
        width: 80%;
    }

    .signature .signatureSetMenu img {
        width: 100%;
        height: 20em;
        object-fit: cover;
    }

    .signature .subSignatureSet {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }

    .signature .subSignatureSet li {
        width: 100%;
        height: 100%;
        background-color: var(--madColorPalette04);
        display: none;
        padding: 3em;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
    }

    .signature .subSignatureSet li img {
        width: 60em;
        height: 40em;
        object-fit: cover;
        margin-bottom: 2em;
        border-radius: 20px;
    }

    .signature .subSignatureSet li p {
        font-size: 1.5em;
        text-align: left;
        color: var(--madColorPalette06);
    }

    .signature .subSignatureSet li span {
        display: block;
        text-align: right;
        margin-bottom: 1.2em;
    }

    .signature .subSignatureSet li.origin {
        display: block !important;
    }
    /* /menu 영역 */

    /* 런치세츠 영역 */
    .lunchSet {
        width: 100%;
        position: relative;
    }

    .lunchSetImg {
        width: 100%;
        height: 30vh;
        
        background: url(./../img/section/menu/lunch_set.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .lunchSet .lunchSetTxT {
        width: 50em;
        max-width: 50%;
        height: 20em;
        line-height: 1.5em;
        background-color: var(--madColorPalette05);
        color: var(--madColorPalette06);
        padding: 4em 5em;
        box-sizing: border-box;
        
        position: absolute;
        left: 5%;
        top: 40%;
    }

    .lunchSet .lunchSetTxT h3 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    /* menu 영역 */

    .lunch {
        width: 80%;
        padding: 15em 0px;
        box-sizing: border-box;
        margin: 0px auto;
    }

    .lunchSection {
        width: 100%;
    }

    .lunch .lunchSetMenu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 6em;
    }

    .lunch .lunchSetMenu li {
        width: 80%;
    }

    .lunch .lunchSetMenu img {
        width: 100%;
        height: 20em;
        object-fit: cover;
    }

    .lunch .subLunchSet {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }

    .lunch .subLunchSet li {
        width: 100%;
        height: 100%;
        background-color: var(--madColorPalette04);
        display: none;
        padding: 3em;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
    }

    .lunch .subLunchSet li img {
        width: 60em;
        height: 40em;
        object-fit: cover;
        margin-bottom: 2em;
        border-radius: 20px;
    }

    .lunch .subLunchSet li p {
        font-size: 1.5em;
        text-align: left;
        color: var(--madColorPalette06);
    }

    .lunch .subLunchSet li span {
        display: block;
        text-align: right;
        margin-bottom: 1.2em;
    }

    .lunch .subLunchSet li.origin {
        display: block !important;
    }

    /* 준비중이미지 */

    .comingsoon {
        width: 100%;
        height: 100vh;
        /* background-color: #AD8350; */

        position: relative;
    }

    .comingsoon img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 60em;
    }

    .comingsoon h3 {
        font-size: 4em;
        color: var(--madColorPalette06);
        text-align: center;
    }
    /* /menu 영역 */

    /* /submenu 영역 */
}

@media all and (min-width:768px) and (max-width:1023px) {
    #main {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    /* menuMainBanner 영역 */

    #menuMainBanner {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    #menuMainBanner .menuBan {
        width: 100%;
        height: 100%;
        background: url(./../img/section/banner_img_01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        position: absolute;
        top: 0px;
        left: 0px;

        animation: movescl 4s forwards;
    }

    @keyframes movescl {
    0% {
        opacity: 0;
        transform: scale(2);
    };

    100% {
        opacity: 1;
        transform: scale(1);
    };
    }

    #menuMainBanner .menuTXT {
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
    }

    #menuMainBanner .menuTXT h3 {
        font-size: 5em;
        text-align: center;
        letter-spacing: 1rem;
        color: var(--madColorPalette06);

        animation: moveToLeft 2s forwards;
    }

    #menuMainBanner .menuTXT p {
        font-size: 1.3em;
        text-align: center;
        background-color: var(--madColorPalette03);
        color: var(--madColorPalette02);
        padding: 0.2em 0.5em;
        box-sizing: border-box;

        animation: moveToRight 2s forwards;
    }

    @keyframes moveToLeft {
        0% {
        opacity: 0;
        transform: translateX(-500px);
        };

        100% {
        opacity: 1;
        transform: translateX(0);
        };
    }

    @keyframes moveToRight {
        0% {
            opacity: 0;
            transform: translateX(500px);
        };

        100% {
            opacity: 1;
            transform: translateX(0);
        };
    }
    
    /* /menuMainBanner 영역 */

    .mainMenuImg {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        margin-top: 2em;
        /* background-color: var(--madColorPalette04); */
    }

    .menuBanner {
        width: 100%;
        height: 100%;

        position: relative;
    }

    .menuBanner li {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        opacity: 0;
        transform: scale(1.2);
    }

    .menuBanner li.m_on {
        opacity: 1;
        transform: scale(1);
        transition: 1s;
    }

    .menuBanner li:nth-child(1) {
        background: url(./../img/section/menu/mainMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(2) {
        background: url(./../img/section/menu/setMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(3) {
        background: url(./../img/section/menu/dessertMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(4) {
        background: url(./../img/section/menu/wineMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li h3 {
        position: absolute;
        left: 40px;
        top: 45%;
        font-size: 5em;
        color: var(--madColorPalette05);
        transform: translateX(-150%);
        opacity: 0;
    }

    .menuBanner h3.menuTitle {
        transform: translateX(10%);
        opacity: 1;
        transition: 2s;
    }

     /* menu btn 영역 */

     .menuBtn {
        width: 100%;
        height: 30%;
        overflow: hidden;
    }

    .menuBtnDetail {
        width: 80%;
        /* background-color: var(--madColorPalette04); */
        margin: 30px auto;
        display: block;
        padding: 5em 0px;
    }

    .menuBtn ol {
        display: flex;
        justify-content: center;
    }

    .menuBtnDetail li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .menuBtnDetail li img {
        max-width: 30%;
    }
    
    .menuBtnDetail li a {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        font-size: 2em;
        display: block;
    }

    .menuBtnDetail li.m_btn {
        color: var(--madColorPalette06);
        transition: 1s;
        transform: rotateY(360deg);
    }

    .subMenu {
        display: none;
        position: absolute;
        z-index: -20;
    }

    /* /menu btn 영역 */

    /* submenu 영역 */
    .subMenu {
        width: 100%;
        height: 4200px;
        margin: 0px auto;
    }

    .subMenu.hei {
        height: 5000px;
    }

    .mainMenuList {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .mainMenuList > li {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        display: none;
    }

    .mainMenuList > li {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        display: none;
    }

    .mainMenuList > li.s_on {
        display: block;
        transition: 1s;
    }

    /* /submenu 영역 */

    /* pasta 영역 */

    .mainPasta {
        width: 100%;
        position: relative;
    }

    .mainPastaImg {
        width: 100%;
        height: 30vh;
        
        background: url(./../img/section/menu/mainmenu_pasta.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .mainPasta .mainPastaTxT {
        width: 50em;
        max-width: 50%;
        height: 20em;
        line-height: 1.5em;
        background-color: var(--madColorPalette02);
        color: var(--madColorPalette06);
        padding: 6em 5em;
        box-sizing: border-box;
        
        position: absolute;
        left: 5%;
        top: 40%;
    }

    .mainPasta .mainPastaTxT h3 {
        font-size: 2em;
        margin-bottom: 1em;
    }

}

@media all and (min-width:480px) and (max-width:767px) {
    
}