:root {
    /* color */
    --madColorPalette01 : #ffffff;
    --madColorPalette02 : #000000;
    --madColorPalette03 : #CDCAC6;
    --madColorPalette04 : #EAD8C0;
    --madColorPalette05 : #AD8350;
    --madColorPalette06 : #A3171B;
    --madColorPalette06sub : #e7898c;
    --madColorPalette07 : transparent;
}

@media all and (min-width:1024px) {

    .mainMenuImg {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        /* background-color: var(--madColorPalette04); */
    }

    .menuBanner {
        width: 100%;
        height: 100%;

        position: relative;
    }

    .menuBanner li {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        opacity: 0;
        transform: scale(1.2);
    }

    .menuBanner li.m_on {
        opacity: 1;
        transform: scale(1);
        transition: 1s;
    }

    .menuBanner li:nth-child(1) {
        background: url(./../img/section/menu/mainMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(2) {
        background: url(./../img/section/menu/setMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(3) {
        background: url(./../img/section/menu/dessertMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(4) {
        background: url(./../img/section/menu/wineMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li h3 {
        position: absolute;
        left: 40px;
        top: 45%;
        font-size: 5em;
        color: var(--madColorPalette05);
        transform: translateX(-150%);
        opacity: 0;
    }

    .menuBanner h3.menuTitle {
        transform: translateX(50%);
        opacity: 1;
        transition: 2s;
    }

    /* menu btn 영역 */

    .menuBtn {
        width: 100%;
        height: 30%;
        overflow: hidden;
    }

    .menuBtnDetail {
        width: 80%;
        /* background-color: var(--madColorPalette04); */
        margin: 30px auto;
        display: block;
        padding: 5em 0px;
    }

    .menuBtn ol {
        display: flex;
        justify-content: center;
    }

    .menuBtnDetail li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .menuBtnDetail li img {
        max-width: 30%;
    }
    
    .menuBtnDetail li a {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        font-size: 2em;
        display: block;
    }

    .menuBtnDetail li.m_btn {
        color: var(--madColorPalette06);
        transition: 1s;
        transform: rotateY(360deg);
    }

    /* /menu btn 영역 */

    /* submenu 영역 */

    .subMenu {
        width: 100%;
    }

    .mainPasta {
        width: 100%;
        position: relative;
    }

    .mainPastaImg {
        width: 100%;
        height: 30vh;
        
        background: url(./../img/section/menu/mainmenu_pasta.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .mainPasta .mainPastaTxT {
        width: 50em;
        max-width: 50%;
        height: 20em;
        line-height: 1.5em;
        background-color: var(--madColorPalette02);
        color: var(--madColorPalette06);
        padding: 6em 5em;
        box-sizing: border-box;
        
        position: absolute;
        left: 5%;
        top: 40%;
    }

    .mainPasta .mainPastaTxT h3 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    /* menu 영역 */

    .pasat {
        width: 80%;
        padding: 20em 0px;
        box-sizing: border-box;
        margin: 0px auto;
    }

    .pastaSection {
        width: 100%;
    }

    .pasat .mainMenuPasta {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 6em;
    }

    .pasat .mainMenuPasta img {
        width: 35em;
        height: 20em;
        object-fit: cover;
    }

    .pasat .subMenuPasta {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }

    .pasat .subMenuPasta li {
        width: 100%;
        height: 100%;
        background-color: var(--madColorPalette04);
        display: none;
        padding: 5em;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
    }

    .pasat .subMenuPasta li img {
        width: 60em;
        height: 40em;
        object-fit: cover;
        margin-bottom: 2em;
        border-radius: 20px;
    }

    .pasat .subMenuPasta li p {
        font-size: 1.5em;
        text-align: left;
        color: var(--madColorPalette06);
    }

    .pasat .subMenuPasta li span {
        display: block;
        text-align: right;
        margin-bottom: 1.2em;
    }

    .pasat .subMenuPasta li.origin {
        display: block !important;
    }

    .chili {
        color: var(--madColorPalette06);
    }
    /* /menu 영역 */

    /* 스테이크 영역 */
    .mainSteak {
        width: 100%;
        position: relative;
    }

    .mainSteakImg {
        width: 100%;
        height: 30vh;
        
        background: url(./../img/section/menu/mainmenu_Steak.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .mainSteak .mainSteakTxT {
        width: 50em;
        max-width: 50%;
        height: 20em;
        line-height: 1.5em;
        background-color: var(--madColorPalette04);
        color: var(--madColorPalette06);
        padding: 6em 5em;
        box-sizing: border-box;
        
        position: absolute;
        left: 5%;
        top: 40%;
    }

    .mainSteak .mainSteakTxT h3 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    /* menu 영역 */

    .steak {
        width: 80%;
        padding: 20em 0px;
        box-sizing: border-box;
        margin: 0px auto;
    }

    .steakSection {
        width: 100%;
    }

    .steak .mainMenuSteak {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 6em;
    }

    .steak .mainMenuSteak li {
        width: 80%;
    }

    .steak .mainMenuSteak img {
        width: 32em;
        height: 20em;
        object-fit: cover;
    }

    .steak .subMenuSteak {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }

    .steak .subMenuSteak li {
        width: 100%;
        height: 100%;
        background-color: var(--madColorPalette04);
        display: none;
        padding: 5em;
        box-sizing: border-box;
        text-align: center;
        align-items: center;
    }

    .steak .subMenuSteak li img {
        width: 60em;
        height: 40em;
        object-fit: cover;
        margin-bottom: 2em;
        border-radius: 20px;
    }

    .steak .subMenuSteak li p {
        font-size: 1.5em;
        text-align: left;
        color: var(--madColorPalette06);
    }

    .steak .subMenuSteak li span {
        display: block;
        text-align: right;
        margin-bottom: 1.2em;
    }

    .steak .subMenuSteak li.origin {
        display: block !important;
    }

    

    /* /menu 영역 */

    /* /submenu 영역 */
}

@media all and (min-width:768px) and (max-width:1023px) {

}

@media all and (min-width:480px) and (max-width:767px) {

}

@media all and (max-width:479px) {

}