:root {
    /* color */
    --madColorPalette01 : #ffffff;
    --madColorPalette02 : #000000;
    --madColorPalette03 : #CDCAC6;
    --madColorPalette04 : #EAD8C0;
    --madColorPalette05 : #AD8350;
    --madColorPalette06 : #A3171B;
    --madColorPalette06sub : #e7898c;
    --madColorPalette07 : transparent;
}

@media all and (min-width:1024px) {
    html {
        height: 6000px;
    }

    .mainMenuImg {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        /* background-color: var(--madColorPalette04); */
    }

    .menuBanner {
        width: 100%;
        height: 100%;

        position: relative;
    }

    .menuBanner li {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
        opacity: 0;
        transform: scale(1.2);
    }

    .menuBanner li.m_on {
        opacity: 1;
        transform: scale(1);
        transition: 1s;
    }

    .menuBanner li:nth-child(1) {
        background: url(./../img/section/menu/mainMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(2) {
        background: url(./../img/section/menu/setMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(3) {
        background: url(./../img/section/menu/dessertMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li:nth-child(4) {
        background: url(./../img/section/menu/wineMenu.jpg);

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .menuBanner li h3 {
        position: absolute;
        left: 40px;
        top: 45%;
        font-size: 5em;
        color: var(--madColorPalette05);
        transform: translateX(-150%);
        opacity: 0;
    }

    .menuBanner h3.menuTitle {
        transform: translateX(50%);
        opacity: 1;
        transition: 2s;
    }

    /* menu btn 영역 */

    .menuBtn {
        width: 100%;
        height: 30%;
        overflow: hidden;
    }

    .menuBtnDetail {
        width: 80%;
        /* background-color: var(--madColorPalette04); */
        margin: 0px auto;
        display: block;
        padding: 5em 0px;
    }

    .menuBtn ol {
        display: flex;
        justify-content: center;
    }

    .menuBtnDetail li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .menuBtnDetail li img {
        max-width: 30%;
    }
    
    .menuBtnDetail li a {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        font-size: 2em;
        display: block;
    }

    .menuBtnDetail li.m_btn {
        color: var(--madColorPalette06);
        transition: 0.5s;
    }

    /* /menu btn 영역 */

    /* submenu 영역 */

    .subMenu {
        width: 100%;
        /* 수정해야함 */
        height: 10000px;
        overflow: hidden;
    }

    .mainPasta {
        width: 100%;
        height: 30vh;
    }

    .mainPasta .mainPastaImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }

    .mainPasta .mainPastaTxT {
        /* border: 3px solid #eaf; */
        width: 55em;
        height: 18em;
        line-height: 1.5em;
        background-color: var(--madColorPalette02);
        color: var(--madColorPalette06);

        padding: 4.5em 4em;
        box-sizing: border-box;

        position: absolute;
        left: 5%;
        top: 98%;
        /* opacity: 0.8; */
    }

    .mainPasta .mainPastaTxT h3 {
        font-size: 3em;
        margin-bottom: 0.5em;
    }
    

    /* /submenu 영역 */
}

@media all and (min-width:768px) and (max-width:1023px) {

}

@media all and (min-width:480px) and (max-width:767px) {

}

@media all and (max-width:479px) {

}